@font-face {
    font-family: 'conduit_itcmedium';
    src: url(font/conduit_itc_medium1-webfont.eot);
    src: url(font/conduit_itc_medium1-webfont.eot?#iefix) format("embedded-opentype"),url(font/conduit_itc_medium1-webfont.woff2) format("woff2"),url(font/conduit_itc_medium1-webfont.woff) format("woff"),url(font/conduit_itc_medium1-webfont.ttf) format("truetype"),url(font/conduit_itc_medium1-webfont.svg#conduit_itcmedium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'conduit_itclight';
    src: url(font/conduit_itc_light1-webfont.eot);
    src: url(font/conduit_itc_light1-webfont.eot?#iefix) format("embedded-opentype"),url(font/conduit_itc_light1-webfont.woff2) format("woff2"),url(font/conduit_itc_light1-webfont.woff) format("woff"),url(font/conduit_itc_light1-webfont.ttf) format("truetype"),url(font/conduit_itc_light1-webfont.svg#conduit_itclight) format("svg");
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 100%;
    font-family: "conduit_itclight",sans-serif;
    height: 100%;
    overflow: hidden;
    font-size: 16px
}

body {
    font-size: 1.6rem;
    line-height: 2.2rem;
    height: 90%;
    background-color: #67BEEB
}

/* Bakgrunner for måneder */
.home {
    background: url(images/skjermsparer2.jpg);
    background-size: 100%
}

.januar {
    background: url(images/forberedelse-lofotfiske_overlay.jpg);
    background-size: 100%
}

.spinning {
    background-color: #355077
}

.wrapper {
    height: 100%
}

.container {
    margin: 0 15px
}

.row {
    padding: -15px;
    margin: 15px 0
}

.row:before,.row:after {
    content: '';
    display: table
}

/* Hjul - animasjon */
.spin {
    width: 992px;
    height: 992px;
    margin: 44px auto 0 auto;
}

.spin img {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}

/* Meny for språk */
.menu {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 5;
    list-style: none
}

.menu li {
    float: left;
    margin-right: 30px
}

.menu li a {
    display: block;
    width: 58px;
    height: 61px
}

a.home {
    background-image: url(images/home.svg);
    background-size: cover
}

#lang-no {
    background-image: url(images/language_no.svg);
    background-size: cover
}

#lang-en {
    background-image: url(images/language_en.svg);
    background-size: cover
}

#lang-sa {
    background-image: url(images/language_sa.svg);
    background-size: cover
}

#lang-kv {
    background-image: url(images/language_kv.svg);
    background-size: cover
}

.lang-no,.lang-en,lang-sa,.lang-kv {
    display: none
}

/* Bobler på åpningsskjerm */
.bubbles {
    margin: 0;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: 2rem;
    position: absolute;
    text-transform: uppercase;
    color: rgba(103,190,235,1);
    list-style: none;
    opacity: .8
}

.bubbles li {
    position: absolute;
    background-size: cover;
    padding: 70px 40px 0 50px;
    text-align: center
}

.bubbles:first-child {
    background: url(images/bubble1.svg) no-repeat;
    width: 294px;
    height: 307px;
    animation: scale ease 20s infinite;
    top: 116px;
    left: 249px;
    padding-top: 30px;
    padding-left: 0
}

.bubble:nth-child(2) {
    background: url(images/bubble2.svg) no-repeat;
    width: 365px;
    height: 428px;
    -webkit-transform: scale(0.9);
    animation: scalee ease 10s infinite;
    top: 63px;
    left: 1000px;
    padding-top: 120px;
    font-size: 2.4rem
}

.bubble:nth-child(3) {
    background: url(images/bubble3.svg) no-repeat;
    width: 390px;
    height: 373px;
    top: 450px;
    left: 204px;
    -webkit-transform: scale(0.9);
    animation: scalee ease 15s infinite;
    padding-top: 150px;
    padding-left: 30px
}

.bubble:nth-child(4) {
    background: url(images/bubble4.svg) no-repeat;
    width: 361px;
    height: 426px;
    top: 500px;
    left: 1304px;
    animation: scale ease 25s infinite;
    padding-top: 190px
}

.bubble p {
    padding: 100px;
    margin: -100px
}

/* Tekstpanel */
aside.info {
    background: url(images/panel.png) no-repeat;
    width: 950px;
    margin-left: -55%;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 4;
    -webkit-transition: margin .2s ease-in-out
}

.object-text {
    position: absolute;
    top: 200px;
    left: 70px;
    width: 700px;
    height: 800px;
    padding: 10px;
    overflow-y: auto;
    color: #999
}

.object-text ul {
    margin-top: 20px;
    list-style: none
}

.object-text h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 400;
    color: #6a86a8;
    width: 800px
}

/* Bildepanel */
aside.historical-image {
    width: 1920px;
    height: 100%;
    margin-left: 1920px;
    float: right;
    position: fixed;
    z-index: 1;
    -webkit-transition: margin .2s ease-in-out
}

.close {
    width: 71px;
    height: 71px;
    background: url(images/icons.png) top left;
    position: absolute;
    right: 40px;
    top: 40px
}

.icon-big-image {
    width: 71px;
    height: 71px;
    background: url(images/icons.png) 142px;
    position: absolute;
    right: 40px;
    bottom: 40px
}

.icon-small-image {
    width: 71px;
    height: 71px;
    background: url(images/icons.png) 142px
}

section {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-right: 0
}

.toggle:checked + .wrapper > .info {
    margin-left: 0
}

.toggle:checked + .wrapper > .historical-image {
    margin-left: 0
}

.toggle:checked + .wrapper > section {
    margin-right: -40%
}

.toggler {
    display: inline-block;
    cursor: pointer
}

.toggle {
    display: none
}