/*
    @font-face {
        font-family: 'conduit_itclight';
        src: url('font/conduit_itc_light1-webfont.eot');
        src: url('font/conduit_itc_light1-webfont.eot?#iefix') format('embedded-opentype'),
             url('font/conduit_itc_light-webfont.svg#conduit_itclight') format('svg'),
             url('font/conduit_itc_light1-webfont.woff2') format('woff2'),
             url('font/conduit_itc_light1-webfont.woff') format('woff'),
             url('font/conduit_itc_light1-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
*/
  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   html {
        font-size: 100%;
        height: 100%;
        overflow:hidden;
        font-size:16px;
    }
    body {
        font-family: 'Arial', sans-serif;
        font-size: 1.4rem;
        line-height: 2rem;
        background-color: #67BEEB;
    }
    /* Bakgrunner for måneder */
    body.home {
        background:url(images/skjermsparer2.jpg);
        background-size:100%;
    }
    body.januar {
        background:url(images/lofotfiske_overlay.jpg);
        background-size:100%;
    }
    body.februar {
        background:url(images/forberedelse-finnmarka_overlay.jpg);
        background-size:100%;
    }
    body.mars {
        background:url(images/heimefiske_overlay.jpg);
        background-size:100%;
    }
    body.april {
         background:url(images/vaarknipa_overlay.jpg);
        background-size:100%;
    }
    body.mai {
        background:url(images/lamming_overlay.jpg);
        background-size:100%;
    }
    body.juni {
        background:url(images/vaaronna_overlay.jpg);
        background-size:100%;
    }
    body.juli {
        background:url(images/hoya_overlay.jpg);
        background-size:100%;
    }
    body.august {
        background:url(images/hosting_overlay.jpg);
        background-size:100%;
    }
    body.september {
        background:url(images/poteter_overlay.jpg);
        background-size:100%;
    }
    body.oktober {
        background:url(images/slakting_overlay.jpg);
        background-size:100%;
    }
    body.november {
        background:url(images/produksjon_overlay.jpg);
        background-size:100%;
    }
    body.desember {
        background:url(images/forberedelse-lofotfiske_overlay.jpg);
        background-size:100%;
    }
    body.spinning {
        background-color: #355077;
    }
    .wrapper {
      height: 100%;
    }
    /* Hjul - animasjon */
    .spin {
        padding-top: 44px;
        width:  992px;
        height: 992px;
        margin: 0 auto;
    }
    .spin img {
        -webkit-animation-name:             rotate; 
        -webkit-animation-duration:         6s; 
        -webkit-animation-iteration-count:  infinite;
        -webkit-animation-timing-function:  linear;
    }
    /* Meny for språk */
    .menu {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 3;
        list-style: none;
    }
    .menu li {
        float: left;
        margin-right: 30px;
    }
    .menu li a {
        display: block;
        width: 58px;
        height: 61px;
        cursor: pointer;
        opacity: .5;
    }
    .home-icon {
        background-image: url(images/home.svg);
        background-size: cover;
    }
    #lang-no {
        background-image: url(images/language_no.svg);
        background-size: cover;
    }
    #lang-en {
        background-image: url(images/language_en.svg);
        background-size: cover;
    }
    #lang-sa {
        background-image: url(images/language_sa.svg);
        background-size: cover;
    }
    #lang-kv {
        background-image: url(images/language_kv.svg);
        background-size: cover;
    }
    .lang-no,.lang-en, lang-sa, .lang-kv {
        display: none;
    }
    
    /* Bobler på åpningsskjerm */
    .bubbles {
        margin:0;
        padding:0;
        bottom:0;
        top:0;
        right:0;
        left:0;
/*      font-family: "conduit_itclight", sans-serif; */
        font-size:1.7rem;
        position: absolute;
        text-transform: uppercase;
        color:rgba(103,190,235,1);
        list-style:none;
        opacity: 0.8;
    }
    body.april .bubbles, body.mai .bubbles, body.juni .bubbles, body.juli .bubbles {
        color: #99b894;
    }
    body.august .bubbles, body.september .bubbles, body.oktober .bubbles {
        color: #99653b;
    }
    body.desember .bubbles, body.februar .bubbles {
        color: #fff;
    }

    .bubbles li {
        position: absolute;
        background-size: cover;
        text-align: center;
    }
    .bubble:first-child {
        background: url(images/bubble1.svg) no-repeat;
        width: 294px;
        height: 307px;
        animation: scale ease 20s infinite;
        top: 116px;
        left: 249px;
        padding: 90px 40px 0 30px;
    }
    .bubble:nth-child(2) {  
        background: url(images/bubble2.svg) no-repeat;
        width: 365px;
        height: 428px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 10s infinite;
        top: 63px;
        left: 1000px;
        padding: 120px 60px 0 30px;
        font-size:1.8rem;
        line-height:2.2rem;
    }
    .bubble:nth-child(3) {
        background: url(images/bubble3.svg) no-repeat;
        width: 390px;
        height: 373px;
        top: 450px;
        left: 204px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 15s infinite;
        padding: 130px 60px 0 30px;
    }
    .bubble:nth-child(4) {
        background: url(images/bubble4.svg) no-repeat;
        width: 361px;
        height: 426px;
        top: 500px;
        left: 1304px;
        animation: scale ease 25s infinite;
        padding-top: 190px;
    }
    .bubble:nth-child(5) {
        background: url(images/bubble4.svg) no-repeat;
        width: 361px;
        height: 426px;
        top: 5px;
        left: 600px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 10s infinite;
        padding: 190px 60px 0 40px;
    }
    .bubble p {
        padding: 100px;
        margin: -100px;
    }
    body.desember .bubbles, body.februar .bubbles {
        color: #fff;
    }
    body.desember .bubble:first-child, body.februar .bubble:first-child {
        background: url(images/bubble1_blue.svg) no-repeat;
        width: 294px;
        height: 307px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 15s infinite;        
        top: 206px;
        left: 249px;
        padding: 90px 40px 0 30px;
    }
    body.desember .bubble:nth-child(2), body.februar .bubble:nth-child(2) {  
        background: url(images/bubble2_blue.svg) no-repeat;
        width: 390px;
        height: 373px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 15s infinite;
        top: 500px;
        left: 700px;
        padding: 120px 60px 0 30px;
    }
    body.desember .bubble:nth-child(3), body.februar .bubble:nth-child(3) {
        background: url(images/bubble1_blue.svg) no-repeat;
        width: 294px;
        height: 307px;
        -webkit-transform: scale(0.9);
        animation: scalee ease 15s infinite;
        top: 306px;
        left: 1400px;
        padding: 90px 40px 0 30px;
    }

    /* Tekstpanel */
    .info {
        background: url(images/panel.png) no-repeat;
        width: 950px;
         margin-left: -55%;
        float: left;
        height: 100%;
        position: fixed;
        z-index: 2;
        -webkit-transition: margin 0.2s ease-in-out;
    }
    .slide-out {
       margin-left: -55% !important; 
    }
    .object-text {
        position: absolute;
        top: 200px;
        left: 70px;
        width: 800px;
        height: 680px;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        font-size: 1.4rem;
        color: #999;
    }
    .object-text::-webkit-scrollbar { 
        display: none; 
    }
    .object-text p {
        width: 700px;
/*         -webkit-text-stroke: 0.5px; */
    }
    .object-text ul {
        margin-top: 20px;
        list-style: none;
    }
    .object-text h1 {
/*      font-family: "conduit_itclight", sans-serif; */
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: normal;
        color: #6a86a8;
        margin-bottom: 30px;
    }
    body.april .object-text h1, body.mai .object-text h1, body.juni .object-text h1, body.juli .object-text h1 {
        color: #99b894;
    }
    body.august .object-text h1, body.september .object-text h1, body.oktober .object-text h1 {
        color: #99653b;
    }
    body.november .object-text h1, body.februar .object-text h1 {
        color: #fff;
    }
    
    /* Bildepanel */
    .historical-image {
        width:1920px;
        height: 100%;
        margin-left: 1920px;
        float: right;
        position: fixed;
        z-index: 1;
        -webkit-transition: margin 0.2s ease-in-out;
    }
    .old-image {
        width:1920px;
        height: 100%;
        margin-left: 800px;
        -webkit-transition: margin 0.2s ease-in-out;
    }
    .slide-in {
        margin-left: 0;
    }
    .level-1 {
        z-index: 1;
    }
    .level-2 {
        z-index: 2;
    }
    .close {
        width: 71px;
        height:71px;
        background: url(images/icons.png) top left;
        position: absolute;
        right: 40px;
        top: 40px;
    }
    .big-image, .small-image {
        width: 71px;
        height:71px;
        background: url(images/icons.png) 142px;
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
    .small-image {
        background: url(images/icons.png) 72px !important;
        display: none;
    }
    section {
        width: 100%;
        height: 100%;
        position: fixed;
        margin-right: 0;
    }
    section h1 {
        font-family: "conduit_itclight", sans-serif;
        position: absolute;
        width: 100%;
        bottom: 35px;
    }
    h1.januar {
        left: 70px; 
    }
    h1.februar {
        left: 200px; 
    }
    h1.mars {
        left: 350px; 
    }
    h1.april {
        left: 500px; 
    }
    h1.mai {
        left: 650px; 
    }
    h1.juni {
        left: 800px; 
    }
    h1.juli {
        left: 950px; 
    }
    h1.august {
        left: 1100px; 
    }
    h1.september {
        left: 1250px; 
    }
    h1.oktober {
        left: 1350px; 
    }
    h1.november {
        left: 1470px; 
    }
    h1.november {
        left: 1590px; 
    }
    h1.desember {
        left: 1710px; 
    }
    body.januar section, body.februar section, body.mars section, body.november section, body.desember section {
        height: 1040px;
        border-bottom: 1px solid #67BEEB;
    }
    body.april section, body.mai section, body.juni section, body.juli section {
        height: 1040px;
        border-bottom: 1px solid #99b894;
    }
    body.august section, body.september section, body.oktober section {
        height: 1040px;
        border-bottom: 1px solid #99653b;
    }
    section h1 span {
        position: relative;
        height: 40px;
        padding: 5px 20px;
        background: #67BEEB;
        text-transform: uppercase;
        color: #fff;
    }
    section h1 span:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 25px 12px 0;
        border-color: #67BEEB transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -25px;
        left: 10px;
    }
    body.april section h1 span, body.mai section h1 span, body.juni section h1 span, body.juli section h1 span {
        background: #99b894;     
    }
    body.august section h1 span, body.september section h1 span, body.oktober section h1 span {
        background: #99653b;     
    }
    body.april section h1 span:after, body.mai section h1 span:after, body.juni section h1 span:after, body.juli section h1 span:after {
        border-color: #99b894 transparent;
    }
    body.august section h1 span:after, body.september section h1 span:after, body.oktober section h1 span:after {
        border-color: #99653b transparent;
    }
    .toggle:checked + .wrapper > .info {
        margin-left: 0;
    }
    .toggle:checked + .wrapper > .historical-image {
        margin-left: 0;
    }

    .toggler {
        display: inline-block;
        cursor: pointer;
    }
    .toggle {
        display: none;
    }
